@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
    height: 100%;
}

#container {
    display: grid;
    grid-template: 1fr 5fr/ 0.8fr 5fr;
    width: 100%;
    height: 100%;

}

#header {
    display: grid;
    grid-area: 1/2/2/3;
    background-color: #fde68a;
    grid-template-rows: repeat(2, 40%);
    gap: 15px; 
    padding-bottom: 10px;
    padding-top: 10px;
}

#topRow {
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
    box-sizing: border-box;
}

#topRow div {
    display: flex;
    gap: 25px;
    align-items: center;
}

#topRow:nth-child(1) {
    margin-right: 20px;
}

#bottomRow {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    box-sizing: border-box;
    
}

#bottomRow div {
    display: flex;
    gap: 20px;
    align-items: center;
    
}

#sidebar {
    display: grid;
    grid-area: 1/1/3/2;
    background-color: #7dd3fc;
    grid-template: 7% 31% 14%/ 100%;
    gap: 20px;
    font-weight: bold;
    
}

.nav {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 13px;
    padding: 3px;
    
}

.nav:first-child {
    margin-top: 13px;
}

.navLink {
    display: grid;
    grid-template-columns: 0.8fr 3fr;
    gap: 10px;
    align-items: center;
}

#mainContent {
    display: grid;
    grid-area: 2/2/3/3;
    background-color: #d4d4d4;
    grid-template: 0.7fr 5fr 0.7fr 5fr/ repeat(2, 1.3fr) 1fr;
    gap: 15px;
    padding: 25px 20px;
    
}

div[class="title"] {
    align-self: flex-end;
    padding: 0px;
}

#projects {
    display: grid;
    grid-area: 1/1/5/3;
    grid-template: .15fr repeat(3, 1fr)/ repeat(2, 1fr);
    gap: 15px;

}

.title {
    font-weight: bold;
    font-size: x-large;
}

div[class="announcementCard"] p:nth-child(2) {
    color: gray;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    background-color: white;
}

.cardText {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 8px;
}

.cardText span:first-child {
    font-weight: bold;
}

.cardText span:nth-child(2) {
    color: gray;
}

.icons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-right: 30px;
}

#announcements {
    display: grid;
    grid-area: 1/3/3/4;
    grid-template: 1fr 8fr/ 1fr;
    gap: 10px;
}

#announcementCards {
    display: grid;
    grid-template: 1fr .1fr 1fr .1fr 1fr /1fr;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    padding: 20px 5px;
}

.announcementCard {
    margin-left: 3%;
    margin-right: 3%;
}



div[class="announcementCard"] p:first-child {
    font-weight: bold;
}

div[class="announcementCard"] p {
    margin-bottom: 0px;
    margin-top: 0px;
}

#trending {
    display: grid;
    grid-area: 3/3/5/4;
    grid-template: 1fr 8fr/ 1fr;
    border-radius: 10px;
}

#trendingContainer {
    display: grid;
    align-items: center;
    border-radius: 10px;
    background-color: white;
}

#trendingContainer > div {
    display: flex;
    gap: 8%;
    margin-left: 5%;
    align-items: center;
}

#trendingContainer div span:nth-child(2) {
    display: flex;
    flex-direction: column;
}

#trending div[class="title"] {
    padding-bottom: 10px;
}

button {
    border-radius: 35px;
    padding: 10px;
    width: 100px;
    background-color: #7dd3fc;
    border: 1px solid black;
}

#header p {
    margin-bottom: 0; 
    margin-top: 0;
}

input {
    border-radius: 25px;
}

hr {
    height: 1px;
    background-color: black;
    border:none;
}

#trendingContainer img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

#topRow:nth-child(1) img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

#bottomRow img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

span span:nth-child(2) {
    color: gray;
}